{% extends "base.html" %}
{% block content %}
<div style="width: 40%; margin: auto;" class="fw-bold bg-light p-3 rounded">
    <form method="POST">
    {% csrf_token %}
    <!-- Errores globales del formulario -->
    {% if form.non_field_errors %}
    <div class="alert alert-danger">
        <ul>
            {% for error in form.non_field_errors %}
            <li>{{ error }}</li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}


    {{ form.as_p }}

    <button type="submit" class="btn btn-info">
        Actualizar Reservación
    </button>
</form>
</div>

{% endblock %}