{% extends "base.html" %}

{% block content %}

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">

<div class="container mt-5">


<h1 class="text-center mb-4">📅 Tus reservaciones</h1>

<div class="card shadow-lg border-0">
    <div class="card-body">

        <div class="table-responsive">
            <table class="table table-hover align-middle text-center">
                <a href="{% url "crear_reseva" %}" class="btn btn-sm btn-primary ">Nueva reservacion</a>
    
                <thead class="table-dark">
                    <tr>
                        <th>👥 Personas</th>
                        <th>🪑 Mesas</th>
                        <th>📅 Fecha</th>
                        <th>🎉 Ocasión</th>
                        <th>⚙️ Acciones</th>
                    </tr>
                </thead>

                <tbody>
                    {% for reservaciones in reservaciones %}
                    <tr>
                        <td>{{ reservaciones.cantidad_personas }}</td>
                        <td>{{ reservaciones.cantidad_mesas }}</td>
                        <td>{{ reservaciones.fecha_reservacion }}</td>
                        <td>
                            <span class="badge bg-info text-dark">
                                {{ reservaciones.ocasion }}
                            </span>
                        </td>
                        <td>
                            <a href="#" class="btn btn-sm btn-warning">Editar</a>
                            <a href="#" class="btn btn-sm btn-danger">Eliminar</a>
                        </td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="5">
                            <div class="alert alert-info">
                                No tienes reservaciones aún 😢
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>

            </table>
        </div>

    </div>
</div>
```

</div>

{% endblock %}
