{% extends 'base.html' %}
{% block titulo %}Boletas{% endblock %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static '/css/miapp.css' %}">
<h1 class="text-dark text-center" style="font-family: 'Rubik Dirt', system-ui;">Tus Boletas</h1>

    <table class="table table-light table-bordered">
        {% if request.user.tipo == 3 %}
            <a href="{% url 'crear' %}" class="btn btn-danger mb-2">Nueva Boleta</a>
        {% endif %}
        <br>
        <strong>Verifica los cupos de cada evento: </strong>
        <select name="evento" class="form-select">
            {% for evento in eventos %}
                <option value="{{ evento.id }}">
                    {{ evento.nombre }} (Cupos: {{ evento.cupos_disponibles }})
                </option>
            {% endfor %}
        </select>
        <br>
        <strong>Busca por el nombre del evento o cantidad de boletos: </strong>
        <form method="get" class="mb-4">
            <div class="d-flex gap-2">
                <select name="evento" class="form-select">
                    <option value="">Todos los eventos</option>
                    {% for evento in eventos %}
                        <option value="{{ evento.id }}"
                        {% if request.GET.evento == evento.id|stringformat:"s" %}selected{% endif %}>
                            {{ evento.nombre }}
                        </option>
                    {% endfor %}
                </select>
                <input type="number" name="cantidad" class="form-control" placeholder="Cantidad" value="{{ request.GET.cantidad}}">
                <button type="submit" class="btn btn-dark w-100">Filtrar</button>
                <a href="{% url 'listar' %}" class="btn btn-danger w-100">Limpiar</a>
            </div>
        </form>
        <br>
        <thead>
            <tr align="center">
                <th>Nombre</th>
                <th>Precio Boleta</th>
                <th>Cantidad de Boletos</th>
                <th>Evento</th>
                
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for b in boletas %}
                <tr>
                    <td>{{ b.usuario}} </td>
                    <td>{{ b.precio_boleta}}</td>
                    <td>{{ b.cantidad_boletos}}</td>
                    <td>{{ b.evento}}</td>
                    <td align="center">
                        {% if request.user.tipo == 3 %}
                        <a href="{% url 'actualizar' b.id %}" class="btn btn-warning">Editar</a>
                        <a href="{% url 'eliminar' b.id %}" onclick="return confirm('¿Seguro que desea eliminar esta boleta?')" class="btn btn-secondary">Eliminar</a>
                        {% else %}
                            Solo lectura
                        {% endif %}
                        <a href="{% url 'boleta_pdf' b.id %}" class="btn btn-danger">Descargar PDF</a>
                    </td>
                </tr>
            {% empty %}
                <tr align="center">
                    <td colspan="6"><h4 class="text-danger">No hay boletas</h4></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}