{% extends 'base.html' %}
{% block titulo %}Boletas{% endblock %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static '/css/miapp.css' %}">
<h1 class="text-dark text-center" style="font-family: 'Rubik Dirt', system-ui;">🎟️ Tus Boletas</h1>



<div class="container mt-5">    
    <div class="card shadow-lg border-0">
        <div class="card-body">
            
            {% if request.user.tipo == 3 %}
                {% for e in eventos %}
                    {% if e.cupos_disponibles > 0 %}
                        <a href="{% url 'crear' %}" class="btn btn-danger mb-3">Apartar Boleta/s</a>
                    {% endif %}
                {% endfor %}
            {% endif %}

            <div class="table-responsive">
                <table class="table align-middle text-center mb-0 table-bordered">
                    <thead class="table-dark">
                        <tr>
                            <th>Nombre</th>
                            <th>Precio</th>
                            <th>Cantidad</th>
                            <th>Evento</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for b in boletas %}
                        <tr>
                            <td>{{ b.usuario }}</td>
                            <td><span class="badge bg-danger text-dark">${{ b.precio_boleta }}</span></td>
                            <td>{{ b.cantidad_boletos }}</td>
                            <td><strong>{{ b.evento }}</strong></td>
                            <td>
                                {% if request.user.tipo == 3 %}
                                <a href="{% url 'actualizar' b.id %}" class="btn btn-sm btn-warning">Editar</a>
                                <a href="{% url 'eliminar' b.id %}" onclick="return confirm('¿Seguro que desea eliminar esta boleta?')" class="btn btn-sm btn-secondary">Eliminar</a>
                                {% else %}
                                <span class="badge bg-secondary">Solo lectura</span>
                                {% endif %}
                            </td>
                        </tr>
                        {% empty %}
                        <tr>
                            <td colspan="5">
                                <div class="alert alert-danger mb-0">No hay boletas registradas</div>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>
{% endblock %}