{% extends 'base.html' %}
{% block titulo %}{% endblock %}
{% load crispy_forms_tags %}
{% block content %}

<h2 class="text-dark text-center p-5" style="font-family: Rubik Dirt, system-ui;">Crear Boleta</h2>

<div style="width: 40%; margin: auto;" class="fw-bold bg-light p-3 rounded">
    <form action="" method="POST">{% csrf_token %}
        {{ form|crispy }}
        <button type="submit" class="btn btn-danger mt-2">Guardar</button>
        <a href="{% url 'listar'%}" class="btn btn-secondary mt-2">Cancelar</a>
    </form>
</div>
{% endblock %}