{% extends 'base.html' %}
{% block titulo %}Cambiar Contraseña{% endblock %}

{% block content %}
<div style="width: 30%; margin: auto;">
<form action="" method="POST">{% csrf_token %}
    <h3 class="text-primary text-center">Cambiar Contraseña</h3>
    <input type="hidden" value="{{ id_usr }}" name="id"> 
    <label for="pass">Nueva Contraseña:</label>
    <input type="password" name="pass" id="pass" class="form-control" required>
    <label for="pass2">Confirmar Contraseña:</label>
    <input type="password" name="pass2" id="pass2" class="form-control" required>
    <br>
    <div align="center">
        <button type="submit" class="btn btn-primary">Cambiar Contraseña</button>
    </div><br>
</form>
</div>
{% if messages %}
    {% for msj in messages %}
        <h6 class="text-center text-default">{{ msj }}</h6>
    {% endfor %}
{% endif %}
<br>
{% endblock %}