{% extends 'base.html' %}
{% block titulo %}Ingreso de Usuarios{% endblock %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<div style="width: 30%; margin: auto;">
    <h2 class="text-success mb-3">Ingreso de Usuarios</h2>
    <form method="POST" action="">{% csrf_token %}
        {{ form|crispy }}
        {% if messages %}
            {% for msj in messages %}
                <span class="text-danger fw-bold">{{ msj }}</span>        
            {% endfor %}
        {% endif %}
        <div align="center">
            <button type="submit" class="btn btn-success mt-3 mb-3">Iniciar Sesión</button><br>
            <a href="{% url 'recuperar' %}" class="text-danger mb-2 fw-bold">Olvidé mi Contraseña</a>
        </div>        
    </form>
</div>
{% endblock %}