{% extends 'base.html' %}
{% block titulo %}Catalogo{% endblock %}
{% load static %}
{% block content %}
<h1 class="text-dark text-center" style="font-family: Bangers, system-ui; font-size: 85px;">Catálogo</h1>
<div class="container row" style="margin: auto;">
    {% for d in datos.drinks %}
    <div class="col-md-4">
        <div class="car-rounded mt-3">
            <img src="{{d.strDrinkThumb}}" alt="{{ d.strDrink}}" class="card-img-top">
            <div class="card-body">
                <h5 class="card-title">{{ d.strDrink }}</h5>
            </div>
        </div>
    </div>  
    {% empty %}
    <h3 class="text-danger text-center">No hay catalogo</h3>
    {% endfor %}
</div>
{% endblock %}