{% extends 'base.html' %}
{% block titulo %}Catalogo{% endblock %}
{% load static %}
{% block content %}
<h1 class="text-dark text-center" style="font-family: Bangers, system-ui; font-size: 85px; letter-spacing: 3px;">Catálogo</h1>
<div class="container">
<div class="row">
    {% for d in datos.drinks %}
    <div class="col-md-4 mb-4">
        <div class="card shadow-lg border-0 h-100 card-hover">
            <img src="{{d.strDrinkThumb}}" alt="{{ d.strDrink}}" class="card-img-top">
            <div class="card-body text-center bg-dark text-white">
                <h5 class="card-title mb-2">{{ d.strDrink }}</h5>
            </div>
        </div>
    </div>  
    {% empty %}
    <h3 class="text-danger text-center">No hay catalogo</h3>
    {% endfor %}
</div>
</div>

{% endblock %}